<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- The below link is to get rid of the Favicon error in the Console -->
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <div class="holder headline">
      <h1 id="logo">Travel Planner</h1>
    </div>
    <div class="city">
      <label for="city">Enter Your Destination Here</label>
      <input type="text" id="city" placeholder="Enter your destination city here">
    </div>
    <div class="departure">
      <label for="departure">Enter your departure date and time</label>
      <input type="datetime-local" id="departure">
      <button id="submit" type = "submit"> Submit </button>
    </div>
    <div id="countdown"></div>
  </body>
</html>