// Color Palette Variables
$white: #FFF;
$platinum: #E5E5E5;
$orange-web: #FCA311;
$oxford-blue: #14213D;
$black: #000;
// Font Families
$serif: 'DM Serif Text', serif;
$sans: 'Nunito Sans', sans-serif;
// Text Shadow Variables
$text-shadow-outline: -1px 0 $black, 0 1px $black, 1px 0 $black, -1px 0 $black;
$text-shadow-light: 2px 2px 5px rgba($white, 0.8);
// Screen Size Breakpoints
$screen-medium: 550px;
$screen-large: 1000px;

// Mixins for Media Queries for medium and large screens
@mixin md {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

html {
  background: $white;
}

body {
  min-height: 100vh;
  background: $platinum;
}

#logo {
  display: flex;
  justify-content: center;
  background: $oxford-blue;
  color: $orange-web;
  font-size: 2.5em;
  font-family: $serif;
  margin: 0 0 2.83rem 0;
  padding: 2rem;
  text-shadow: $text-shadow-outline, $text-shadow-light;
  // Styling change for medium screens for the logo element using the mixin created above
  @include md {
    font-size: 4.5em;
  }
  // Styling change for larger screens for the logo element using the mixin created above
  @include lg {
    display: block;
    font-size: 6em;
    padding-left: 3.33rem;
  }
}

//Photo container
#photo-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  // Photo Styling
  img {
    max-width: 100%;
    max-height: 50vh;

    @include md {
      max-height: 55vh;
    }

    @include lg {
      max-height: 60vh;
    }
  }
  // Medium and larger screens for photo container
  @include md {
    width: 85%;
    margin: 1.25rem auto
  }

  @include lg {
    width: 50%;
    justify-content: left;
    margin: 2.66rem 0 1rem 0.90rem;
  }
}

// Pixabay Icon Styles
#pixabay {
  display: flex;
  flex-direction: row;
  font-size: 0.85em;

  p {
    margin: 0 .25rem;
  }

  a img {
    width: 60px;
    height: auto;
    margin-top: 0.15rem;
  }
}

#trip-button {
  display: flex;
  justify-content: center;

  @include lg {
    justify-content: left;
    margin-left: 3.33rem;
  }
}

// Button Styling
#add-trip, #submit{
  font-weight: 700;
  font-size: 1.33em;
  font-family: $sans;
  width: 60%;
  padding : 1.33rem;
  border: 4px solid $oxford-blue;
  border-radius: 25px;
  background-color: rgba($orange-web, 0.7);
  margin-top: 4rem;

  @include md {
    width: 35%;
    font-size: 1.66em;
  }

  @include lg {
    width: 30%;
  }
}

#submit {
  margin: 5rem 0 0 1rem;
  padding: 1.33rem 2.33rem;

  @include md {
    margin-left: 7rem;
  }
}

// Form container styling
#user-data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 90%;
  margin: 0 auto;
}

#city-div, #departure-div {
  width: 100%;
}

// Form label and input styling
label, input {
  display: block;
  font-size: 1em;
  font-family: $serif;
  width: 95%;
  margin: 0 auto;
  padding: 0.33rem;

  @include md {
    width: 70%;
  }
}

input {
  margin-bottom: 1rem;
}

#countdown-div, #weather-data {
  width: 85%;
}

#countdown-message, #countdown-timer, #weather-data p {
  font-size: 3em;
  font-family: $serif;
  min-width: 75vw;
}