// Color Palette Variables
$white: #FFF;
$platinum: #E5E5E5;
$orange-web: #FCA311;
$oxford-blue: #14213D;
$black: #000;
// Font Families
$serif: 'DM Serif Text', serif;
$sans: 'Nunito Sans', sans-serif;
// Text Shadow Variables
$text-shadow-outline: -1px 0 $black, 0 1px $black, 1px 0 $black, -1px 0 $black;
$text-shadow-light: 2px 2px 5px rgba($white, 0.8);
// Screen Size Breakpoints
$screen-medium: 550px;
$screen-large: 1000px;

// Mixins for Media Queries for medium and large screens
@mixin md {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

// HTML backgrouns styling
html {
  background: $white;
}

//basic body styling
body {
  min-height: 100vh;
  background: $platinum;
}

// Styling for the heading
#logo {
  display: flex;
  justify-content: center;
  background: $oxford-blue;
  color: $orange-web;
  font-size: 2.5em;
  font-family: $serif;
  margin: 0 0 2.83rem 0;
  padding: 1.83rem;
  text-shadow: $text-shadow-outline, $text-shadow-light;

  // Styling change for medium screens for the logo element using the mixin created above
  @include md {
    font-size: 4.5em;
    padding: 2.33rem;
  }

  // Styling change for larger screens for the logo element using the mixin created above
  @include lg {
    display: block;
    font-size: 6em;
    padding: 3.33rem;
  }
}

// Content container styling
#content {
  @include lg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

//Photo container styling
#photo-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1rem auto;

  // Medium and larger screens for photo container
  @include md {
    width: 95%;
    margin: 1rem auto;
  }

  @include lg {
    max-width: 60%;
    margin: 0;
  }
}

// Figure containing photos and figcaption link to pixabay
#images {
  margin: 0.66rem 0.66rem;

  @include md {
    margin: 1.33 rem 1.33rem;
  }

  @include lg {
    width: 100%;
    margin: 1.66rem 2.66rem;
  }

   // Photo Styling
   img {
    max-width: 100%;
    max-height: 50vh;

    @include md {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    @include lg {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

// Pixabay Icon Div Styles
#pixabay {
  display: flex;
  flex-direction: row;
  font-size: 0.85em;
  //Pixabay paragraph styling

  p {
    margin: 0 .25rem;
  }

  //Pixabay image styling
  a img {
    width: 60px;
    height: auto;
    margin-top: 0.15rem;
  }
}

// Add a trip button styling
#trip-button {
  display: flex;
  justify-content: center;
  align-items: center;

  @include lg {
    width: 50%;
  }
}

// Submit button div styling
#submit-button-div {
  display: flex;
  justify-content: center;
}

// Button Styling
#add-trip, #submit {
  font-weight: 700;
  font-size: 1.33em;
  font-family: $sans;
  width: 60%;
  padding : 1.33rem;
  border: 4px solid $oxford-blue;
  border-radius: 25px;
  background-color: rgba($orange-web, 0.7);
  margin-top: 2.5rem;

  @include md {
    width: 40%;
    font-size: 1.66em;
  }

  @include lg {
    margin: 0;
    width: 40%;
  }
}

// Submit button only styling
#submit {
  margin: 2.5rem 1rem;
  padding: 1.33rem 2.33rem;
}

// Form container styling
#user-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;

  @include md {
    width: 75%;
  }
}

#output {
  width: 100%;
}

// Label and input container styling
#city-div, #departure-div {
  width: 100%;
}

// Form label and input styling
label, input {
  display: block;
  font-size: 0.9em;
  font-family: $serif;
  width: 95%;
  margin: 0 auto;
  padding: 0.33rem;

  @include md {
    width: 70%;
  }
}

// Input only styling
input {
  margin-bottom: 1rem;
}

// countdown and weather info container styling
#countdown-div, #weather-data {
  width: 90%;
  margin: 0 auto;

  @include lg {
    width: 40%;
  }
}

// countdown and weather info styling
#countdown-message, #countdown-timer, #weather-data p {
  font-size: 0.9em;
  font-family: $serif;
  min-width: 75vw;
}